@import './variables';
@import './mixins';
@import './forms';
@import '~materialize-css/sass/materialize';
@import '~material-icons/iconfont/material-icons.scss';
@import './sensible_defaults/index';
@import './components/index';

html {
  background: $primary-color;
}

body {
  background: #fdfdfd;

  .container {
    color: #333;
  }
}

[data-react-class] {
  &, & main {
    height: 100%;
  }
}

main.container {
  width: 100%;
}

nav {
  .brand-logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &, img {
      height: 90%;
      margin-right: 0.5em;
    }
  }
}
