@import './variables';
@import './mixins';
@import '~materialize-css/sass/materialize';
@import '~material-icons/iconfont/material-icons.scss';
@import './sensible_defaults/index';

html {
  background: $primary-color;

  body {
    background: #fff;

    .container {
      color: #333;
    }

    // @include fix-nav($large-and-up);
  }
}
