<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <%= image_tag "logo.png" %>

      Hyperloop
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>

  <ul id="nav-mobile" class="sidenav">
    <li><a href="#" class="sidenav-close">Navbar Link</a></li>
  </ul>
</nav>

<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light"> The Complete Isomorphic Ruby Framework </h5>
      </div>
      <div class="row center">
        <a href="/home" id="download-button" class="btn-large waves-effect waves-light">Go To Application</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Simplicity</h5>

            <p class="light">Build interactive Web applications quickly. Hyperloop encourages rapid development with clean, pragmatic design. With developer productivity as our highest goal, Hyperloop takes care of much of the hassle of Web development, so you can focus on innovation and delivering end-user value.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">group</i></h2>
            <h5 class="center">Isomorphic Ruby</h5>

            <p class="light">One language. One model. One set of tests. The same business logic and domain models running on the clients and the server. Hyperloop is fully integrated with Rails and also gives you unfettered access to the complete universe of JavaScript libraries (including React) from within your Ruby code.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">settings</i></h2>
            <h5 class="center">Complete Architecture</h5>

            <p class="light">Everything has a place in our architecture. Components deliver interactive user experiences, Operations encapsulate business logic, Models magically synchronize data between clients and servers, Policies govern authorization and Stores hold local state. </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">Hyperloop lets you build beautiful interactive user interfaces in Ruby.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with <a class="grey-text text-lighten-3" href="http://ruby-hyperloop.org">Hyperloop</a>
    </div>
  </div>
</footer>
